.mainPageLogo {
    display: inline-block;
    margin: auto;
    max-width: 150px;
}

.mainPageBox {
    background: linear-gradient( #ffffff67 70%, rgb(236, 235, 235) 30%);
    height: 500px;
    width: 80%;
    margin: 100px auto;
    text-align: center;
    font-size: 30px;
}

.NavBar {
    width: 80%;
    margin: 20px auto;
    height: 100px;
    background: linear-gradient( #ffffff67 90%, rgb(128, 128, 128) 10%);
}

.link {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 30px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-top: 15px;
}

.homelink {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 30px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.userInfo {
    margin: 0px;
    padding: 5px;
    height: 500px;
    width: 300px;
    float: left;
    background-color: rgb(229, 230, 231);
}

.favoriteFood {
    margin: 0px;
    padding: 5px;
    height: 500px;
    background-color: rgb(190, 190, 190);
}

.inputForm{
    width: 400px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.button {
    width: 200px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: lightblack;
    color: black;
}

#videoList {
    margin: 0px;
    padding: 5px;
    height: 200px;
    background-color: #d0d8aa;
}

#leftSection {
    margin: 0px;
    padding: 5px;
    height: 500px;
    width: 700px;
    float: left;
    background-color: rgb(138, 171, 233);
  }
  #rightSection {
    margin: 0px;
    padding: 5px;
    height: 500px;
    background-color: rgb(143, 85, 85);
  }

#mainPageImage {
    display: block;
    margin: auto;
    width: 300px;
}

#categoryImage {
    display: block;
    margin: auto;
    width: 300px;
}
